.container {
  height: 80px;
  display: flex;
  padding: 0 80px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  @media (max-width: 500px) {
    padding: 0 15px;
  }

  h5 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
  }
}
