@font-face {
  font-family: JosefinSans;
  src: url(./fonts/JosefinSans.ttf);
}

body {
  scroll-behavior: smooth;
  font-family: JosefinSans;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #121212;
}
